*{
    margin: 0;
    padding: 0;
}
#wrap{
    width:700px;
    background-color: #a1c4ed;
    margin: 0 auto auto auto;
}
#header{
    padding-top: 0em;
    height: 100px;
    background-image: linear-gradient(rgba(0,0,255,0.2),rgba(0,0,255,0.6));
}
.header h1{
    color: #e2d0de;
    padding-top: 0.5em;
    /*text-shadow: ;*/
}
#footer{
    width: 100%;
    height:50px;
    background-color: black;
    color: white;
    text-align: center;
    margin: 20px 0 0 0;
    padding-top: 0.5em;
}
.btn{
    padding-top: 0.3em;
    background-color: #ffe8f7;
    -webkit-border-radius: 5px;
}